.nav a {
  text-decoration: none;
  color: gray;
}

.nav a:not(:last-child) {
  margin-right: 10px;
}

.nav span {
  color: white !important;
}

.link-active {
  color: white !important;
}
